
<script>
  window.logoURL = '<%= image_url('ForMuLogo.png')%>'
  window.trashURL = '<%= image_url('trash.png')%>'
  window.cloud1URL = '<%= image_url('cloud.png')%>'
  window.cloud2URL = '<%= image_url('cloud2.png')%>'
  window.cloud3URL = '<%= image_url('cloud3.png')%>'
  window.cloud4URL = '<%= image_url('cloud4.png')%>'
  window.mammothURL = '<%= image_url('mammoth.png')%>'
  window.envelopeURL = '<%= image_url('envelope.png') %>'
  window.linkURL = '<%= image_url('link.png') %>'
  window.editURL = '<%= image_url('edit.png') %>'
  // window.mammothLidsURL = '<%= image_url('lids.png')%>'
  window.trashSelectedURL = '<%= image_url('trashSelected.png')%>'

  // <script id="bootstrap-current-user" type="text/javascript">

  <% if @currentUser %>
  	window.currentUser = '<%= @currentUser.username.html_safe %>'
  <% end %>
  // </script>


</script>

<div id="main">
</div>
